# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Build artifacts
dist/

# Environment variables
.env
.env.*     # in case you use .env.local, .env.development, etc.

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
.DS_Store
Thumbs.db
